body{
    background-color: #ece7f5 !important;
}


.boton:hover{
    background-color: #02083d !important;
    
}

#resultado{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.resultados{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

